* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

.card-border {
  border: solid 2px chocolate;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.2s;
  float: left;
}
.card-border:hover {
  transform: scale(1.05);
}

.animate {
  animation: rubberBand;
  animation-duration: 3s;
}

.itemDetail {
  border: solid 2px chocolate;
}

.marginGral {
  margin-bottom: 5%;
  margin-top: 10%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(45, 255, 245);
}

.sique {
  display: flex;
  padding-left: 5px;
  margin-top: 5px;
  margin: 30px;
  background-size: 100% 100%;
  float: left;
}

p {
  text-align: center;
  font-weight: bold;
  color: rgb(45, 255, 245);
}

.colorTexto {
  color: rgb(45, 255, 245);
  text-align: center;
}

.bordeContenido {
  border: 2px solid;
  border-color: #b1b1df;
}
