#ribbon {
  background-image: url("https://i.etsystatic.com/7495289/r/il/ff9226/3047480553/il_1588xN.3047480553_gel3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#ribbon::after {
  content: "";
  background-color: transparent;
  display: block;
  height: 20px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  left: auto;
  margin-top: -40px;
}

#birthday {
  background-color: rgb(32, 55, 76);
  position: relative;
  margin-top: -20px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#birthday img {
  position: relative;
  margin-top: -30px;
  border: solid 2px chocolate;
}
